@import url("https://p.typekit.net/p.css?s=1&k=lcy5rfc&ht=tk&f=13375&a=14259099&app=typekit&e=css");

@font-face {
font-family:"ocr-a-std";
src:url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

*{
  margin: 0px;
  padding: 0px;

}

.html,.body,.top-page,.top-page-contents{
  position: relative;
  width: 100%;
  height: 100%;
}

.top-page-contents{
  z-index: 1;
}

.top-page {
  font-family: 'ocr-a-std';
  letter-spacing: 3px;
  display: block;
  opacity: 0.0;
  transition: 1.0s;
}

.button-text{
  font-size: 2.7vh;
  padding: 2.5vh;
  opacity: 1.0;
  transition: 1.0s;
  letter-spacing: 0.2em;
}


#rect-button{
  position: absolute;
  display: inline-block;
  color: black;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  pointer-events: auto;
  z-index: 2;
}

.top-logo {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 16vh;
  transition: 0.5s;
  z-index: 0;
  opacity: 1.0;
}

.top-img{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 31%;
  width: 18vh;
}

.button0{
  left: 0;
  right: 0;
  margin: auto;
  top: 66%;
  width: 63%;
}

.button1{
  left: 0;
  right: 0;
  margin: auto;
  top: 75%;
  width: 63%;
}

.js-circle{
  width: 40vh;
  transition: 1.0s;
  top: 20%;
  opacity: 1.0;
}

/* .fadeout {
  animation: fadeOut 1.0s cubic-bezier(0.55, 0.06, 0.87, 0.21)  infinite;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.small-button {
  position: absolute;
  display: inline-block;
  color: black;
  transition: 0.5s;
  display: none;
  opacity: 0.0;
  cursor: pointer;
  text-align: center;
  pointer-events: auto;
  z-index: 2;
}

.small-start-button {
  left: 0;
  right: 0;
  margin: auto;
  top: 66%;
  width: 63%;
}

.small-top-button {
  left: 0;
  right: 0;
  margin: auto;
  top: 75%;
  width: 63%;
}

.wait{
  height: 177.78vw;
  width: 56.25vh;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  margin: auto;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;

  z-index: 10;

  display: none;
  opacity: 0.0;
  background-color: #ffffff;
  transition: 1.0s;
}

.wait-content{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1.0s;
}

.js-wait-logo{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 19vh;
  transition: 1.0s;
  z-index: 1;
  opacity: 1.0;
}

.wait-logo{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
  width: 35vh;
}

.explain-sentence {
  position: absolute;
  height: 45%;
  padding: 0 22%;
  width: 100%;
  font-size: 16px;
  display: block;
  overflow: auto;
  opacity: 0.0;
  transition: 1.0s;
  z-index: 1;
  background: #ffffff;
}

.explain-head {
  color: black;
  display: block;
}

.becareful {
  text-align: center;
  font-size: 1.5em;
  padding-top: 10%;
  padding-bottom: 5%;
  color: black;
}

.color-area{
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.explain-text {
  color: black;
  font-size: 14px;
}


.vote-color{
  position: relative;
  display: none;
  opacity: 0.0;
}

.textBox {
  width: 75%;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.wait-caption {
  font-size: 3.5vh;
  transition: 0.5s;
}

.wait-message {
  line-height: 2.5;
  font-size: 2.0vh;
  transition: 0.5s;
}

/* webAnimetion-Window */
.mapping-Page {
  height: 177.78vw;
  width: 56.25vh;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0.0;
  background-color: #000000;
  /* transition: 1.0s; */
}

/* vote-Window */
.vote-page {
  height: 177.78vw;
  width:  56.25vh;
  max-height: 100%;
  max-width:  100%;
  position: absolute;
  margin: auto;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  overflow: hidden;
  display: none;
  opacity: 0.0;
  transition: 1.0s;
}

.vote {
  height: 100%;
  display: none;
}


.under-btn {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  height: 100%;
}

.top-btn {
  bottom: 10%;
  transform: skewY(10deg);
}

.bottom-btn {
  top: 20%;
  transform: skewY(-10deg);
}

.first-btn {
  height: 60%;
  position: relative;
  bottom: 10%;
  transform: skewY(10deg);
  transform-origin: top center;
  color: #F2F5FA;
  z-index: 1;
  transition: 1.0s;
}

.second-btn {
  height: 45%;
  position: relative;
  transform-origin: top center;
  color: #F2F5FA;
  transition: 1.5s;
  z-index: 1;
}

.third-btn {
  height: 60%;
  position: relative;
  bottom: 10%;
  transform: skewY(10deg);
  transform-origin: top center;
  color: #F2F5FA;
  z-index: 1;
  transition: 1.0s;
}

.btn-red { background-color: #dc0a14; }
.btn-yellow { background-color: #ffd20a; }
.btn-blue { background-color: #001ef0; }
.btn-white { background-color: #ffffff;}
.btn-black { background-color: #000000;}

.vote-RYB{
  display: block;
}

.colorChange {
  height: 177.78vw;
  width:  56.25vh;
  max-height: 100%;
  max-width:  100%;
  position: absolute;
  margin: auto;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;

  opacity: 0.0;
  display: none;
  transition: 1.0s;
  z-index: 2;
}
